<a href="/ideas">Ideas</a>
<a href="logout">Logout</a>


<h3>Name: <%= @user.name%></h3>
<h3>Alias: <%= @user.alias%></h3>
<h3>Email: <%= @user.email%></h3>
<hr>

<h4>Total Number of Posts: <%= @ideas.count%></h4>
<h4>Total Number of Likes: <%= @likes.count%></h4>
